FLASK_ENV=production
FLASK_DEBUG=0
OCR_SPACE_API_KEY=
TZ=Asia/Taipei
PROJECT_ID=
PRIVATE_KEY=
CLIENT_EMAIL=
API_KEY=
AUTH_DOMAIN=
PROJECT_ID=
STORAGE_BUCKET=
MESSAGING_SENDER_ID=
APP_ID=
MEASUREMENT_ID=